@model VenueBookingSystem.Models.Booking

<h2>Booking Details</h2>

<div class="card">
    <div class="card-header">
        Booking Information
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-3">Venue</dt>
            <dd class="col-sm-9">@Model.Venue.Name</dd>

            <dt class="col-sm-3">Event</dt>
            <dd class="col-sm-9">@Model.Event.Name</dd>

            <dt class="col-sm-3">Customer Name</dt>
            <dd class="col-sm-9">@Model.CustomerName</dd>

            <dt class="col-sm-3">Customer Email</dt>
            <dd class="col-sm-9">@Model.CustomerEmail</dd>

            <dt class="col-sm-3">Start Date</dt>
            <dd class="col-sm-9">@Model.StartDate.ToShortDateString()</dd>

            <dt class="col-sm-3">End Date</dt>
            <dd class="col-sm-9">@Model.EndDate.ToShortDateString()</dd>
        </dl>
    </div>
    <div class="card-footer">
        <a href="@Url.Action("Index", "Bookings")" class="btn btn-secondary">Back to List</a>
    </div>
</div>
